body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-vector/blue-black-abstract-background_1340-17010.jpg?w=1380&t=st=1704456016~exp=1704456616~hmac=8d8df5a4d947ec49840767b23758a854b1ac2aa9b98287066eaa9abfc93cdfea");
    background-size: cover;
}

button {
    background: none;
    color: #f7ff60;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
    border-radius: 1em;
}
button:hover {
    border-color: #5cff72;
    color: rgb(0, 255, 242);
    box-shadow: 0 0.5em 0.5em -0.4em #88ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

h1:hover {
    transition: all 0.5s;
}